<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Slack Configuration</title>
        <input-field>
            <name>mettwareChannel</name>
            <label>#mettware channel</label>
        </input-field>
        <input-field>
            <name>slackBotToken</name>
            <label>Slack Bot Token</label>
        </input-field>
    </card>
</config>
